* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  position: relative;
  text-align: center;
  padding: 0 50px;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.title {
  text-align: left;
  margin-bottom: 100px;
}

.timer {
  margin-bottom: 50px;
}

.seconds {
  font-size: 40px;
}

.elapsed,
.execute {
  margin-bottom: 30px;
}

.result {
  margin-bottom: 50px;
  font-size: 30px;
}

.kelda-options {
  text-align: left;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.main-thread {
  margin-bottom: 20px;
}
